# Default values for chart.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
replicaCount: 1
image:
  repository: ejectedspace/yatwi
  tag: stable
  pullPolicy: Always
  secrets:
    - name: gitlab-registry
application:
  track: stable
  tier: web
  migrateCommand:
  initializeCommand:
  secretName:
service:
  enabled: true
  name: web
  type: ClusterIP
  url: my.host.com
  additionalHosts:
  path: /
  externalPort: 80
  internalPort: 80
postgresql:
  enabled: false
resources:
#  limits:
#    cpu: 100m
#    memory: 128Mi
#  requests:
#    cpu: 100m
#    memory: 128Mi
